//colors
$white: #fff;
$black: #000;
$gray: #808080;
$light-gray: #bdb9b9;
$dark-gray:#525050;
$green: #adf7d8;
$darker-green: #2dbb80;
$book-green: #008000;
$ronnells-green: #2F533C;
$pink: #175f47;


// fonts
$headings: 'Open Sans', sans-serif;
$text: 'Open Sans', sans-serif;