@import "normalize";
@import "slick";
@import "variables";
@import "mixins";
@import "menu";
@import "contact-info";
@import "booksearch-form";
@import "breaklineblack";
@import "header";
@import "carousels";
@import "square-block";
@import "instagram";
@import "newsletter";
@import "page";
@import "single";
@import "footer";


// * {
// 	border: pink 1px dotted;
// }

// General style
h2 {
	color: black;
	font-size:36px;
	margin: 0;
	margin-bottom: 10px;
}

h3 {
	font-size: .9em;
	font-weight: 700;
	line-height: 1.3;
	margin: 0;
	text-transform: uppercase;	
}

a {
	text-decoration: none;
}


p {
	line-height: 1.5;
	letter-spacing: 0.5;
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.no-break {
	white-space: nowrap;
}

html {
	line-height: unset;
}















